body {
    cursor: url(https://milk-tea.neocities.org/cursor.png), auto;
    font-family: "MS PGothic";
    background: var(--background-color);
}

main {
    background: 0 0;
}

iframe {
    border: none;
}

/* link styling */
a {
    cursor: url(https://milk-tea.neocities.org/select.png), pointer;
    color: #2453d4;
}

/* tooltip styling */
#s-m-t-tooltip {
    z-index: 9999;
    background-color: rgba(250, 250, 255, 0.75);
    border-bottom: 2px solid #223388;
    border-right: 2px solid #223388;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    color: white;
    text-shadow:
        -1px 0 black,
        0 1px black,
        1px 0 black,
        0 -1px black;
    max-width: 250px;
    margin: 20px;
    padding: 7px;
    transition: 0.1s;
    text-align: center;
}

/* text styling */
.inner > p {
    position: sticky;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid gray;
    font-size: 12px;
}

.inner > p b {
    font-weight: 400 !important;
}

strong {
    color: #2453d4;
}

strong2 {
    color: #ee918c;
}

@font-face {
    font-family: PC98;
    src: url(pc-9800.ttf);
}

@font-face {
    font-family: spirit;
    src: url(Spirit.ttf);
}

@font-face {
    font-family: redaction;
    src: url(Redaction.otf);
}

@font-face {
    font-family: "Chirp";
    src: url(chirp.otf);
    font-style: normal;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar:horizontal {
    height: 17px;
}

::-webkit-scrollbar-corner {
    background: #fff;
}

::-webkit-scrollbar-track {
    background: #fff;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='2' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 0H0v1h1v1h1V1H1V0z' fill='silver'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 0H1v1H0v1h1V1h1V0z' fill='%23fff'/%3E%3C/svg%3E");
}

::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #fff,
        inset -2px -2px grey,
        inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
    display: block;
}

::-webkit-scrollbar-button:vertical:start {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 6H7v1H6v1H5v1H4v1h7V9h-1V8H9V7H8V6z' fill='%23000'/%3E%3C/svg%3E");
    height: 17px;
}

::-webkit-scrollbar-button:vertical:end {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
    height: 17px;
}

::-webkit-scrollbar-button:horizontal:start {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 4H8v1H7v1H6v1H5v1h1v1h1v1h1v1h1V4z' fill='%23000'/%3E%3C/svg%3E");
    width: 16px;
}

::-webkit-scrollbar-button:horizontal:end {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4H6v7h1v-1h1V9h1V8h1V7H9V6H8V5H7V4z' fill='%23000'/%3E%3C/svg%3E");
    width: 16px;
}

body::-webkit-scrollbar-corner {
    margin-top: 60px;
}

/* blog page */
.topbar {
    width: 668px;
    padding: 6px 4px 6px;
    border-bottom: 2px solid #ffc9c6;
    font-family: sans-serif;
    font-size: 14px;
    background: #fffcec;
    color: #464646;
}

.login {
    width: 500px;
    display: flex;
    background: #ffffff;
    border: 1px solid #ad4944;
    border-radius: 20px;
    padding: 5px 3px 3px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.topbar img:hover {
    filter: brightness(103%);
    cursor: url(select.png), pointer;
}

.divider img:active {
    filter: brightness(97%) saturate(125%);
    cursor: url(select.png), pointer;
}

.login img:hover {
    cursor: url(cursor.png), pointer;
}

#leftwt {
    border-right: 1px solid #e8eced;
    width: fit-content;
    height: 376px;
    padding-right: 10px;
    overflow: auto;
}

#rightwt {
    height: 376px;
    overflow: auto;
}

#rightwt::-webkit-scrollbar,
#leftwt::-webkit-scrollbar {
    display: none;
}

header {
    border: 1px #e8eced solid;
    border-radius: 8px;
    width: 400px;
    font-family: "Chirp";
    overflow: hidden;
    position: relative;
    margin: 8px 0 30px 7px;
}

.header-image {
    width: 400px;
    height: 130px;
    background: url(purin-ice.webp);
    background-size: 600px;
    background-position: 100% 40%;
}

.header-avatar {
    width: 80.5px;
    height: 80.5px;
    margin: -55px 0 -5px 20px;
    border-radius: 100%;
    border: 4px #fff solid;
    background: url(twticon.jpg);
    background-size: 130px;
    background-position: center center;
    z-index: 100;
    position: relative;
}

.header-right {
    float: right;
    margin: 15px;
    display: flex;
    z-index: 100;
    position: relative;
}

.header-right a {
    display: inline-block;
    text-decoration: none;
}

.header-right a:not(.f-link) {
    line-height: 0;
    padding: 7px;
    font-size: 20px;
    border-radius: 100%;
    border: 1px #e8eced solid;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 1px;
    color: #000;
    background: #fff;
    text-align: center;
}

.header-right a:not(.f-link):hover {
    background: #f2f6f7;
}

.header-right a.f-link {
    padding: 8px 17px;
    border-radius: 50px;
    background: #ff8bcb;
    color: #ffffff;
    font-weight: 700;
    line-height: 20px;
}

.header-right a.f-link:hover {
    opacity: 0.9;
}

.bio {
    padding: 16px 20px 22px;
}

#bio-border {
    border: 1px solid #000;
    border-radius: 6px;
    background: url(grid-blue.png);
    background-size: 41px;
    height: 175px;
    width: 380px;
    position: absolute;
    top: 139px;
    left: 9px;
}

.bio-name {
    font-size: 19px;
    font-family: "Chirp-bold";
    line-height: 1;
    font-weight: 800;
}

.bio-url {
    color: #71767b;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.bio-description {
    margin-top: 16px;
    font-size: 15px;
}

.extras {
    color: #000;
    margin-top: 11px;
    font-size: 14px;
}

.extras a,
.mutual-follow a {
    text-decoration: none;
    color: inherit;
}

.extras a:hover {
    text-decoration: underline;
    color: inherit;
}

.post {
    border: 1px #e8eced solid;
    border-radius: 8px;
    width: 400px;
    font-family: "Chirp";
    overflow: hidden;
    position: relative;
    margin: -20px 0 30px 7px;
}

.post-header {
    padding: 10px 20px;
    font-size: 0.875em;
    font-weight: 700;
    color: #71767b;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px #e8eced solid;
}

.post-author {
    padding: 11px 10px 5px;
    font-family: "Chirp";
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    height: 50px;
}

.post-pfp {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: url(twticon.jpg);
    background-size: 55px;
    background-position: center center;
}

.author-name {
    font-size: 15px;
    font-family: "Chirp-bold";
    line-height: 1;
    font-weight: 800;
    margin-left: 7px;
}

.author-url {
    font-size: 15px;
    color: #71767b;
    display: flex;
    line-height: 1;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-left: 5px;
}

.post-body {
    padding: 0 10px 0 53px;
    margin-top: -36px;
}

.post-tags {
    margin: 15px 20px 5px;
}

a.post-tag {
    display: inline-block;
    border: 1px #e8eced solid;
    font-size: 0.866667em;
    line-height: 1.23077;
    padding: 4px 6px;
    border-radius: 8px;
    margin: 0 6px 10px 0;
    background: #fff;
    text-decoration: none;
}

a.post-tag:hover {
    background: #f2f6f7;
}

.post-media {
    border-radius: 8px;
    border: 1px #e8eced solid;
    margin: 12px 0 0 -5px;
    width: 100%;
}

.post-media img {
    border-radius: 8px;
}

.post-reply {
    margin: 0;
}

.reblog {
    border: 1px #e8eced solid;
}

.post-footer {
    margin: 0;
    padding: 10px 10px 5px;
    display: flex;
    font-size: 15px;
    color: #71767b;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-top: 1px #e8eced solid;
}

.post-footer .footer-right {
    display: flex;
    flex-flow: row nowrap;
}

.post-footer a i,
.post-footer i,
.post-footer a.like-button .like_button::before {
    line-height: 1em;
    font-size: 1.25rem;
    padding: 8px;
    color: #71767b;
    border-radius: 100%;
    background: transparent;
    margin: -8px 4px 0 0;
    cursor: url(https://milk-tea.neocities.org/select.png), pointer;
}

.post-footer a.reblog-button:hover i,
.post-footer i:hover {
    color: rgb(28, 155, 240);
    background: rgba(28, 155, 240, 0.1);
}

.post-footer a.like-button:hover i {
    color: rgb(254, 24, 129);
    background: rgba(254, 24, 129, 0.1);
}

.post-footer a.reblog-button.active i {
    color: rgb(28, 155, 240);
}

.post-footer a.like-button.active i {
    color: rgb(254, 24, 129);
}

@font-face {
    font-family: "Chirp-bold";
    src: url("https://static.tumblr.com/zgb0z1w/UBbrphdxd/chirp-heavy-2023.woff") format("woff");
}

#togglenav {
    border: 1px #e8eced solid;
    border-radius: 8px;
    width: 238px;
    overflow: hidden;
    position: relative;
    margin: 8px 0 29px 10px;
    padding-bottom: 10px;
}

#togglenav a {
    font-family: "Chirp";
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

#togglenav a:hover {
    text-decoration: underline;
}

#allposts {
    display: flex;
    padding: 10px;
}

.subtitles {
    color: #71767b;
    font-size: 12px;
}

#allposts img {
    width: 65px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
}

#tags {
    display: flex;
    flex-direction: column;
    margin: -10px 0 0 12px;
}

#toggle-header {
    padding: 10px 10px;
    font-size: 1em;
    font-weight: 900;
    font-family: "Chirp-bold";
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px #e8eced solid;
}

#mutuals {
    border: 1px #e8eced solid;
    border-radius: 8px;
    width: 238px;
    overflow: hidden;
    position: relative;
    margin: -20px 0 30px 10px;
}

#mutuals-header {
    padding: 10px 10px;
    font-size: 1em;
    font-weight: 900;
    font-family: "Chirp-bold";
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px #e8eced solid;
}

.mutual-entry {
    display: flex;
    height: 50px;
    font-size: 15px;
    padding: 10px 10px 0;
    margin-bottom: 11px;
}

.mutual-entry:last-child {
    margin-bottom: 0;
}

.mutual-entry:hover {
    background: #f2f6f7;
}

.mutual-avatar1 {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: url(https://catboo.neocities.org/images/miniblog/pfp.jpg);
    background-size: cover;
    background-position: center center;
}

.mutual-avatar2 {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: url(https://file.garden/ZxOOS50ya2Lt0FdH/jeith-smile.png);
    background-color: navajowhite;
    background-size: cover;
    background-position: center center;
}

.mutual-avatar3 {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: url(https://rpgmaker.cafe/media/0dade1ab-7776-4a5e-aace-1523f8066a24/haru.png);
    background-size: cover;
    background-position: center center;
}

.mutual-follow {
    padding: 8px 15px 0;
    margin: 3px 0 13px 33px;
    border-radius: 50px;
    background: #000;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
}